<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lufick.training">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LufickJavaTraining">
        <activity
            android:name=".send_data_to_other_activity.EndActivity"
            android:exported="false" />
        <activity
            android:name=".send_data_to_other_activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fastadapter.FastAdapterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".callback.SecondActivity"
            android:exported="false"
            android:label="FastAdapter" />
        <activity
            android:name=".callback.FirstActivity"
            android:exported="true" />
        <activity
            android:name=".MyActivity"
            android:exported="true" />
    </application>

</manifest>